body {
    background-image: url(login1.svg);
    height: 120vh;
    background-size: cover;
    background-position: center;
    outline: none;
    position: relative;

}
.lform {
    position: relative;
    outline: none;
    width: 500px;
    margin-left: 13%;
    margin-top: 14%;
    float: left;
    position: relative;


}
h1 {
    padding-left: 13%;
    font-family: 'Times New Roman', Times, serif;
}
.lform input {
    border-radius: 25px;
    width: 220px;
    box-sizing: border-box;
    font-size: 22px;
    border-color: white;
    outline: none;

}

.lform button {
    border-radius: 25px;
    font-size: 22px;
    border-color: white;
    background-color: #502916;
    width: 220px;
    color: white;
    outline: none;

    
}
.lform button:hover,.form button:active {
    background-color: #b45d31;

}
.lform .message a{
    text-decoration: none;
}
.lform .register-form {
    display: none;
}
img {
    float: right;
    height: 680px;
    width: 610px;
    padding-top: 6%;
    padding-right: 2%;
    position: relative;
}

