<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Vines</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>
  <div class="first-nav">
    <div class="first-nav-div1">
      <a href="/" class="link1">BookVines</a>
    </div>
    <div class="first-nav-div2">
      <p class="div2-para">Free Exchange Over Hundred Of Books With Love...</p>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light " id="navbar">
    <a class="navbar-brand" href="/"><span id="book">Book</span><span id="vines">Vines</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="nav-link1" href="/">Home |</a>
        <a class="nav-item nav-link" id="nav-link2" href="/book">Browse |</a>
        <a class="nav-item nav-link" id="nav-link3" href="/faq">FAQ |</a>
        <a class="nav-item nav-link active" id="nav-link3" href="/profile">Profile |</a>


      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-sm-between">
      <div class="col col-sm-5 ">
        <div class="outer-div">
          <div class="for-upload">
            <label id="label">
              <img id="add-img" src="../static/user.png" alt="">
            </label>
          </div>
        </div>
      </div>

      <div class="col col-sm-5 form-div">
        <form>
          <h3 id="user-detail">USER DETAILS</h3>
          <div class="form-group">
            <label for="name" style="color:#6d1c00;font-size: 120%;">NAME: <%=user.fname%>
                <%=user.lname%></label>
          </div>
          <div class="form-group">
            <label for="email" style="color:#6d1c00;font-size: 120%;">EMAIL ADDRESS: <%=user.username%></label>
          </div>
          <div class="form-group">
            <label for="birthday" style="color:#6d1c00;font-size: 120%;">YEAR OF BIRTH: <%=user.year%> </label><br>
          </div>
          <a href="/logout" class="btn btn-outline-dark" style="width: 5rem; display: inline-block;">Logout</a>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <div class="copyright">
      <p> <img src="../static/copyright.png" alt=""> 2020. All Rights Reserved BookVines</p>
    </div>
  </footer>

  <!-- <script src="js/script.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>