.first-nav{
    background-color:#401303d9;
    display:flex;
}
.first-nav-div1{
   margin-left: 5%;
   padding-top: 1rem;
   margin-right:3%;
}
.first-nav-div1 a{
    text-decoration: none;
    color: white;
    
}
.first-nav-div2{
    margin:0 auto;
    
}
.first-nav-div2 p{
    color: white;
    padding-top: 1rem;
}
.first-nav-div3{
    margin-right: 2rem;
    margin-left:3%;
}
.first-nav-div3 p{
    color: white;
    padding-top: 1rem;
}
#navbar{
    padding:20px;
    
}
.navbar-brand{
    font-size: 210%;
    margin-left: 4rem;
}

#book{
    color:#c6bf97;
}
#vines{
    /* color:#6e0606; */
    color:#c6bf97;
}

#nav-link1{
    padding-right: 0px;
    color:#c6bf97;
   
}
#nav-link2{
    padding-right: 0px;
   
}
#nav-link1{
    padding-right: 0px;
    
}

body{
    background: url('../login-bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    background-color: white;
    border-radius: 5px;
    width: 30%;
    padding: 5%;
    margin: 3%;
    margin-top: 10%;
}

.btn{
    background-color:#c6bf97;
}

.btn a a:link a:visited a:hover a:active{
    text-decoration: none;
    color: white
}